<!DOCTYPE>
<html>
<head>

<script src="../static/scripts/jquery-2.2.1.min.js"></script>
<script src="../static/scripts/index.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<div class="logo fadeIn">
	<image src="../static/images/logo2.png" />
</div>
<div class="login-section bounceInFromTop">
	<div class="tag">
		<p class="login-tag">LOGIN</p>
		<p class="register-tag">REGISTER</p>
	</div>
	<!-- used for global variable -->
	<div class="content">
		<form id = "myForm" action="/login"> <!-- placeholder value for Wei Li's API -->
			<input type="text" id="email" placeholder=" Email" />
			<input type="password" name="password" placeholder=" Password" />
			<button onclick="checkLogin()" id="myButton" class="buttonDesign">LOGIN</button>
		</form>
		<script type="text/javascript">
					(function(global){
						document.getElementById("myButton").addEventListener("click",function(){
							global.localStorage.setItem("mySharedData", document.getElementById("printEmail").value);
						}, false);
					}(window));
					
					(function checkLogin(){
						$.ajax({
							type: "POST",
							url: "/login"
							dataType: "json",
							contentType:"application/json"
							})	
						});	

								
		</script>
	</div>
</div>
<div class="register-section">
	<div class="tag">
		<p class="login-tag">LOGIN</p>
		<p class="register-tag">REGISTER</p>
	</div>
	<div class="content">
		<form id="myForm2" action="/register"><!--PLACEHOLDER-->
			<input type="text" name="email" placeholder="Email"/>
			<input type="password" name="password" placeholder=" Password" />
			<input type="password" name="verify" placeholder=" Password Verification" />
			<button onclick="submitForm()" id="myButton" class="buttonDesign" >SUBMIT</button> 
		</form>
		<script type="text/javascript">
					(function submitForm(){
						$.ajax({
							type: "POST",
							url: "/register"
							dataType: "json",
							contentType:"application/json"
							})
						});
		</script>
	</div>
</div>
<!-- <div class="request-section bounceInFromLeft"> 
	<div class="tag">
		<p>Request without login</p>
	</div>
	<div class="content">
		<form>
			<input type="text" placeholder=" Request URL" />
			<input type="text" placeholder=" Email" />
			<input type="button" value="SUBMIT" />
		</form>
	</div>
</div>-->

</body>
</html>