<!DOCTYPE>
<html>
<head>

    <script src="../static/scripts/jquery-2.2.1.min.js"></script>
    <script src="../static/scripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script type="text/javascript">

        function login() {
            $.ajax({
                url: "/login",
                data: $("#loginForm").serialize(),
                type: "POST",
                success: function (data) {
                    var data = jQuery.parseJSON(data)
                    if (data.message == "success") {
                        location.href = "/list";
                    } else {
                        location.href = "/"
                    }
                },
                error: function () {
                    location.href = "/"
                }
            })
        }

    </script>

    <script type="text/javascript">
        function register() {
            if ($("#pass").val() == $("#ver").val()) {
                $.ajax({

                    type: "POST",
                    url: "/register",
                    data: $("#registerForm").serialize(),
                    success: function (data) {
                        var data = jQuery.parseJSON(data)
                        if (data.message == "success") {
                            location.href = "/list";
                        } else {
                            location.href = "/"
                        }
                    },
                    error: function (data) {
                        location.href = "/"
                    }
                })
            } else {
                alert("password doesn't match")
            }
        }
    </script>

</head>
<body>
<div class="logo fadeIn">
    <image src="../static/images/logo2.png"/>
</div>
<div class="login-section bounceInFromTop">
    <div class="tag">
        <p class="login-tag">LOGIN</p>
        <p class="register-tag">REGISTER</p>
    </div>
    <!-- used for global variable -->
    <div class="content">
        <form id="loginForm"> <!-- placeholder value for Wei Li's API -->
            <input type="text" name="email" placeholder=" Email"/>
            <input type="password" name="password" placeholder=" Password"/>
            <button onclick="login()" class="buttonDesign">LOGIN</button>
        </form>

    </div>
</div>
<div class="register-section">
    <div class="tag">
        <p class="login-tag">LOGIN</p>
        <p class="register-tag">REGISTER</p>
    </div>
    <div class="content">
        <form id="registerForm"><!--PLACEHOLDER-->
            <input type="text" name="email" placeholder="Email"/>
            <input type="password" id="pass" name="password" placeholder=" Password"/>
            <input type="password" id="ver" name="verify" placeholder=" Password Verification"/>
            <button onclick="register()" class="buttonDesign">SUBMIT</button>
        </form>

    </div>
</div>


</body>
</html>


