<!DOCTYPE>
<html>
<head>
<script src="../static/scripts/jquery-2.2.1.min.js"></script>
<script src="../static/scripts/list.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/list.css">
</head>
<body>

    <input type="hidden" id="user_id" value="{{ current_user.user_id }}">

	<div class="logo fadeIn">
		<image src="../static/images/logo2.png" />
	</div>
	<div class="new-request-section bounceInFromTop">
		<div class="tag">
			<p>CREATE NEW REQUEST</p>
		</div>
		<div class="content">
			<form id="newRequestForm">
				<p>
                    {% if current_user.is_authenticated %}
                      Hi {{ current_user.id }}!
                    {% endif %}

					 <input type="button" value="LOGOUT" onclick="javascript:location.href='/logout'"/>
				</p>

				<input type="text" name="request_url"  id="newRequestUrl" placeholder=" Request URL" />
				<input type="text" name="request_interval" id="newRequestInterval" placeholder=" Time interval" />
             <input type="hidden" name="user_id"  value="{{ current_user.user_id }}" placeholder=" User iD" />
				<input type="button" class ="submit-button" value="SUBMIT" />
			</form>
		</div>
	</div>
	<div class="current-request-section-list">
	</div>
</body>
<script type="text/template" id="request-template">
      <div class="current-request-section bounceInFromBottom">
		<div class="display">
			<p onclick="javascript: location.href='/detail?${requestId}'">Request URL:<span>${requestURL}</span></p>
			<p onclick="javascript: location.href='/detail?${requestId}'">Time interval&nbsp;:<span>${timeInterval}</span></p>
			<a class="edit-icon"><img src="../static/images/edit.png" /></a>
			<a class="delete-icon" id="delete-icon-id-${requestId}" requestId="${requestId}"><img src="../static/images/delete.png" /></a>
		</div>
		<div class="edit">
			<form id="form-${requestId}">
				<input type="text" name="request_url" placeholder=" Request URL" />
				<input type="text" name="request_interval" placeholder=" Time interval" />
				<input type="hidden" name="request_id" value="${requestId}" />
			</form>
			<a class="confirm-icon" formId="form-${requestId}"><img src="../static/images/confirm.png" /></a>
			<a class="cancel-icon"><img src="../static/images/cancel.png" /></a>
		</div>
	</div>
</script>
</html>
